:root {
  --dark-saturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  --light-gray-blue: hsl(240, 5%, 91%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  background: none;
}

body {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  gap: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.2);
}

.illustration {
  position: relative;
}

.box,
.woman,
.pattern {
  display: none;
}

.box {
  position: absolute;
  z-index: 2;
  top: 180px;
  left: -80px;
}

.woman {
  position: absolute;
  top: 50px;
  left: -50px;
  z-index: 1;
}

.pattern {
  position: absolute;
  top: -300px;
  left: -550px;
}

.woman.mobile,
.pattern.mobile {
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.woman.mobile {
  top: -100px;
}

.pattern.mobile {
  top: 10px;
}

.content {
  padding: 50px;
}

.content h3 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.accordion {
  cursor: pointer;
}

.tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--dark-gray-blue);
  transition: color 0.2s ease-in;
}

.active {
  font-weight: 700;
  color: var(--dark-saturated-blue);
  transition: all 0.2s ease-in;
}

.icon {
  transition: transform 0.2s ease-in;
}

.rotate {
  transform: rotate(-180deg);
  transition: transform 0.2s ease-in;
}

.question:hover {
  color: var(--soft-red);
  transition: color 0.2s ease-in;
}

.answer {
  display: none;
  transition: all 1s ease-in;
}

.show {
  display: block;
  color: var(--dark-gray-blue);
  font-size: 13px;
  line-height: 22px;
  margin-top: 10px;
  transition: all 1s ease-in;
}

.divider {
  margin: 20px 0;
  border: 1px solid var(--light-gray-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 50px 0;
  color: #eeeeee;
}

.attribution a {
  color: hsl(227, 45%, 78%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 150px 1rem 0;
  }

  .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .content h3 {
    font-size: 2rem;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    padding: 100px 1rem;
  }

  .illustration {
    margin-bottom: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .woman.mobile,
  .pattern.mobile {
    display: none;
  }

  .box,
  .woman,
  .pattern {
    display: block;
  }

  .box {
    position: absolute;
    z-index: 2;
    top: 180px;
    left: -80px;
  }

  .woman {
    position: absolute;
    top: 50px;
    left: -50px;
    z-index: 1;
  }

  .pattern {
    position: absolute;
    top: -300px;
    left: -550px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }

  .grid {
    grid-template-rows: 500px;
  }
}
